<h3>Add to Cart</h3>

<%=form_tag "/add" do%>
    <%=label_tag :product%>
    <%=text_field_tag :product%>
    <%=submit_tag 'add to cart'%>
<%end%>

<ul>
  <%= cart.each do |p| %>
    <li>
      <%= p %>
    </li>
  <% end %>
</ul>